@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Pacifico", cursive;
  
}

.wordle {
  display: grid;
  grid-gap: 10px;
  padding: 0px ;
  font-size: 25px;
  align-items: center;
  justify-items: center;
  letter-spacing: 35px;

  
}
.words {
  display: flex;
  padding: 10px;

}

.letter {
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  
  margin: 10px;
  padding: 0 0 4px 0;
  z-index: 1;
}
.dark-mode input {
  width: 50px;
  height: 50px;
  padding: 0 10px;
  font-size: inherit;
  color: #dccca3;
  background-color: #141415;
  border: 2px solid #dccca3;
  border-radius: 8px;
  outline: none;
  transition: 0.4s linear;
}
 .dark-mode input:focus {
  border: 2px solid #950740;
  caret-color: #950740;
  color: #950740;
  box-shadow: 4px 4px 10px #070707;
}

.dark-mode .letter:focus-within {
  transform: scale(1.1);

  z-index: 2;
  box-shadow: 4px 4px 15px #070707;
  transition: 0.4s ease-in-out;
  box-sizing: content-box;
}

input {
  width: 50px;
  height: 50px;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: inherit;
  color: #18181A;
  background-color: #CDB57A;
  border: 2px solid #18181A;
  border-radius: 8px;
  outline: none;
  transition: 0.4s linear;
 
}

input:focus {
  border: 2px solid #000000;
  color: #950740;
  box-shadow: 4px 4px 10px #070707;

  transition: 0.1s ease-in-out ;
  
}

.letter:focus-within {
  transform: scale(1.1);
 background-color: #18181A;
 border-radius: 8px;
  z-index: 2;
  box-shadow: 12px 15px 15px #CDB57A;
  transition: 0.2s ease-in-out;
}

.correct input{
  width: 50px;
  height: 50px;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: inherit;
  color: #047c14;
  background-color: #18181A;
  border-radius: 8px;
  outline: none;
  border: 2px solid #047c14;
  outline: none;
  transition: 0.4s linear;
  
}
.correct .letter {
  transform: scale(1.1);
  background-color: #18181A;
  border-radius: 8px;
  z-index: 2;
  box-shadow: 12px 15px 15px #CDB57A;
  transition: 0.2s ease-in-out;
}
.dark-modes .correct .letter {
  background-color: #1d1a1a;
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 6px 6px 23px #046110;
  transition: 0.4s ease-in-out;
  box-sizing: content-box;

}

.dark-modes .correct input {
  width: 50px;
  height: 50px;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: inherit;
  color: #047c14;
  background-color: #18181A;
  border-radius: 8px;
  outline: none;
  box-shadow: 8px 7px 12px #047c14;
  border: 2px solid #047c14;
  outline: none;
  transition: all 0.4s ease;
}
.invalid input{
  width: 50px;
  height: 50px;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: inherit;
  color: #18181A;
  border-radius: 8px;
  outline: none;
  border: 2px solid #18181A;
  outline: none;
  transition: 0.4s linear;
  animation: incorrect 0.5s linear  ;
}
.invalid .letter{
  border-radius: 8px;
  z-index: 2;
  transition: all 0.4s ease;
}
.dark-modes .invalid .letter {
 
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 4px 4px 15px #070707;
  transition: 0.4s ease-in-out;
  box-sizing: content-box;

}

.dark-modes .invalid input {
  width: 50px;
  height: 50px;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: inherit;
  color: #DCCCA3;
  background-color: #18181A;
  border-radius: 8px;
  outline: none;
  border: 2px solid #18181A;
  outline: none;
  transition: all 0.4s ease;
  animation: incorrect 0.5s ease-in-out  ;
}

@keyframes incorrect {
  0% {
    border: 2.5px solid #eb0505;
    transform: scale(1.0); 
    border-radius: 8px;
  }
  50% {
    border: 2.5px solid #18181A;
    transform: scale(1.03); 
    border-radius: 8px;
  
  }
  100% {
    border: 2.5px solid #ff0000;
    transform: scale(1.0);
    border-radius: 8px; 
  }
  
}


.incorrect > input{
  width: 50px;
  height: 50px;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: inherit;
  color: #18181A;
  background-color: #CDB57A;
  border-radius: 8px;
  outline: none;
  border: 2px solid #950740;
  box-shadow: 4px 4px 18px #380017;
  outline: none;
  transition: all 0.4s ease;
  
}
.incorrect .letter {
  transform: scale(1.1);
  background-color: #18181A;
  border-radius: 8px;
  z-index: 2;
  box-shadow: 12px 15px 15px #CDB57A;
  transition: 0.2s ease-in-out;
}
.dark-modes .incorrect .letter {
  background-color: #1d1a1a;
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 6px 6px 23px #5f0429;
  transition: 0.4s ease-in-out;
  box-sizing: content-box;

}

.dark-modes .incorrect input {
  width: 50px;
  height: 50px;
  padding: 0 10px;
  transform: scale(1.01);
  text-transform: uppercase;
  font-size: inherit;
  color: #950740;
  background-color: #18181A;
  border-radius: 8px;
  outline: none;
  border: 2px solid #950740;
  box-shadow: 8px 7px 12px #950740;
  outline: none;
  transition: all 0.4s ease;
}


.incorrect  > .correct-place {

  background-color: #18181A;
}

.incorrect > .correct-place > input { 
  color: #047c14;
  background-color: #18181A;
  border: 2px solid #047c14;
}

.dark-modes .incorrect  > .correct-place{
  box-shadow: 6px 6px 23px #046110;
}
.dark-modes .incorrect  > .correct-place > input {
  box-shadow: 8px 7px 12px #047c14;
}

.incorrect  > .incorrect-place {

  background-color: #18181A;
}

.incorrect > .incorrect-place > input { 
  color: #cfd304;
  background-color: #18181A;
  border: 2px solid #cfd304;
}

.dark-modes .incorrect  > .incorrect-place{
  box-shadow: 6px 6px 23px #9c9e04;
}
.dark-modes .incorrect  > .incorrect-place > input {
  box-shadow: 8px 7px 12px #cfd304;
}




